/* NAVBAR */
.logo-navbar {
    height: 40px;
    margin: 0 !important;
}

#welcome .navbar {
    padding: 0 !important;
}

.btn-icon {
    height: 20px !important;
}

/* CARNET DE SANTE */
#treatments {
    list-style-type: none;
    padding-left: 0;
}

img.icone_animal {
    width: 50px;
    height: 50px;
}

@media all and (max-width: 768px) {
    #header {
        padding: 10px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
    }

    .ml-auto {
        margin-left: 15px !important;
    }
}